.Cell {
  height: 100px;
  width: 100px;
  background-color: rgb(150, 150, 150);
  cursor: pointer;
  border-radius: 50%;
  box-sizing: border-box;
}

.Cell-lit {
  background-color: rgb(255, 250, 109);
  -moz-box-shadow: inset 0 0 20px rgb(255, 209, 58);
  -webkit-box-shadow: inset 0 0 20px rgb(255, 209, 58);
  box-shadow: inset 0 0 20px rgb(255, 209, 58);
}

.Cell:hover,
.Cell:focus {
  border: 3px solid rgb(47, 41, 94);
}

.Cell-lit:hover,
.Cell-lit:focus {
  border: 5px solid rgb(255, 196, 0);
}
